 <div class="container-fluid">


<form #loginFormulaire="ngForm">
    <label>Email:</label>
    <input #email="ngModel"
    ngModel
    name="email"
    required
    email
    type="text" 
    class="form-control"
   
    > 
    <div *ngIf="email.invalid && email.touched" [ngStyle]="{'color': 'red' , 'backgroundColor':'LavenderBlush'}">invalid email</div>
    <br>

        <!-- [(ngModel)]="email" -->

     <!-- pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" -->




    <label>Password:</label>
    <input #password="ngModel"
    ngModel
    ngModel name="password"
    required
    type="password"
    class="form-control"
    minlength="6"
    > 
    <div *ngIf="password.invalid && password.touched" [ngStyle]="{'color': 'red' , 'backgroundColor':'LavenderBlush'}">invalid password</div>




</form>

<button class="btn btn-primary"
(click)="login(loginFormulaire)" 
[disabled]="loginFormulaire.invalid">
    Send
</button>

 </div>
